* {
    padding: 0;
    margin: 0;
    font-family: calibri;
    
}

/*header*/

.header {
    display: flex;
    justify-content: space-around;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    padding: 20px;
}

.logo {
    font-size: 20px;
}

.menuItem {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    margin-left: 15px;
}

.menuItem:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.rightMenu {
    width: 35px;
    height: 35px;
    display: none;
}
/*main container*/



.mainContainer {
    width: 800px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    
}

.leftContainer {
    width: 50%;
    
}

.leftInnerContainer {
    margin: 0 30px;
}

.animeWorld {
    font-size: 30px;
    margin-bottom: 20px;
}

.virtualWorld {
    font-size: 25px;
    margin-bottom: 20px;
}

.email {
    width: 250px;
    height: 28px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    background-color: lightgrey;
    margin-bottom: 15px;
}

.password {
    width: 250px;
    height: 28px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    background-color: lightgrey;
    margin-bottom: 15px;
}

.signIn {
    border: none;
    background-color: dodgerblue;
    font-size: 18px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    color: white;
    margin-bottom: 15px;
}

.keepMe {
    font-size: 18px;
}

.forgotPassword {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.appleGoogle {
    width: 120px;
}


.rightContainer {
    width: 50%;
    
}



.animeGirl {
    width: 65%;
    margin-left: 100px;
    border-radius: 10px;
}

/*footer*/

.footer {
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightgrey;
    font-size: 25px;
    padding: 20px 0;
}

@media (max-width: 768px) {
    
   
    .menuContainer {
        display: none;
    }

    .rightMenu {
        display: block;
    }

    .mainContainer {
        width: 100%;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        
    }

    .leftContainer {
        width: 100%;
        
    }

    .rightContainer {
        width: 100%;
        
        text-align: center;
    }

    .animeGirl {
        width: 50%;
        border-radius: 10px;
        margin: 0 -10%;
    }

    .leftInnerContainer {
        margin: 20px auto;
        width: 80%;
        
    }

    .header {
        display: flex;
        justify-content: space-between;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;
        padding: 20px;
    }
    
}

@media (max-width: 375px) {
    .animeGirl {
        width: 80%;
        border-radius: 5px;
        
    }

    .leftInnerContainer {
        margin: 2px 50px 2px;
        width: 80%;
        
    }
    

    
}